<!DOCTYPE html>
<html>
    <head>
        <title>Store</title>
        {{ dropzone.load() }}
        {{ dropzone.style('border: 2px dashed #0087F7; border-radius:30px; margin: 3%; min-height: 200px;') }}
    </head>
    <body>

        <h1 align="center">Upload</h1>
        {{ dropzone.create(action_view='load.upload') }}


{% for x in store %}
    <hr>
    <br>
    <br>
{{x.name}}
    <br>
    <br>
    <img alt="" height="200" width='200' src="{{  url_for('static', filename= '/' + x.image) }}">
{% endfor %}
</body>
</html>